{% extends "base.html" %}
{% load staticfiles %}

{% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>About me</h1>
                        <h2 class="subheading">Writing code since 2010</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_body %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        Hi! my name is Noam Elfanbaum and I'm from Tel-Aviv, Israel.
                    </p>
                    <p>
                        I'm a software developer and an aspiring philosopher. One day I inspire to
                    combine those two interests and create something super interesting! (if you have any idea how,
                    let me know...)
                    </p>
                    <p>
                        I hope that you enjoy the posts, feel free to contact me with any of the links bellow.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %}

