{% extends "base.html" %}
{% load staticfiles %}

{% block page_header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>About</h1>
                        <h2 class="subheading">Writing code since 2010</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block page_body %}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    I am interested in various fields of software development, currently I mostly develop
                    web applications server side. <br>
                    Another field of great interest to me is philosophy (mainly ethics) and one day I inspire to
                    combine those two interests and create something super interesting! (if you have any idea how,
                    let me know...)
                </div>
            </div>
        </div>
    </article>

    <hr>

{% endblock %}

